.tiempo img {
    max-width: 2rem;
    float: left;
}

.tiempo h1 {
    font-size: 1.2rem;
    color: lightcoral;
    
}

.tiempo p {
    font-size: 0.6rem;
    color: black;
}

.tiempo  {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: beige
}